<!-- Ben Craddock - 33733570 - bcrad001@campus.goldsmiths.ac.uk -->

<!doctype html>
<html>

<head>
  <!-- dynamic forum name -->
  <title>
    <%=forumName%>
  </title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <% try { %>
    <!-- Display username if a user is logged in -->
    <% if (userDetails.loggedin) { %>
      <h1>Welcome back to <%=forumName%>, <%=userDetails.userName%>
      </h1>
      <p><a href="logout">Log out</a></p>
      <% } else { %>
        <h1>Welcome to <%=forumName%>
        </h1>
        <p><a href="login">Log in</a></p>
        <% } %>
          <% } catch { %>
            <h1>Welcome to <%=forumName%>
            </h1>
            <p><a href="login">Log in</a></p>
            <% } %>
              <p><a href="listtopics">List Topics/Join Topics</a></p>
              <p><a href="listusers">List Users</a></p>
              <p><a href="listposts">List Posts</a></p>
              <p><a href="addpost">Add new post</a></p>
              <p><a href="search">Search for posts</a></p>
              <p><a href="about">About us</a></p>
</body>

</html>